body #root{
  display: flex;
  height: 100vh !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center;
}
header, footer{
  width: 100%;
}
main{
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.carousel{
  position: absolute !important;
  left: 0px;
  top: 0px;
  opacity: 0.5 !important;
  z-index: -5;
  
}
.carousel h3, .carousel p{
  color: black !important;
}
.container{
margin: 0px !important;
}
.accordion-collapse{
  background-color: whitesmoke !important;
}
.App-logo {
  height: 7vmin;
  pointer-events: none;
  width: 7vmin;
  object-fit: cover;
}

.nav-link .logo-text{
  text-orientation: upright !important;
  writing-mode: vertical-rl;
  letter-spacing: 0px;
  line-height: 0px;
  margin-left: 20px !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
